<blockquote>
  <p><%= comment.contents %></p>
  <% if comment.user_id == nil %>
    <footer><%= User.new.display_name %> on <%= comment.formatted_date %></footer>
  <% else %>
    <footer><%= link_to comment.created_by, user_path(comment.user_id) %> on <%= comment.formatted_date %></footer>
  <% end %>
  <% if can? :destroy, comment %>
    <footer><%= link_to 'Delete', post_comment_path(@post, comment), method: 'delete' %></footer>
  <% end %>
  <% if can? :update, comment %>
    <footer><%= link_to 'Edit', edit_post_comment_path(@post, comment) %></footer>
  <% end %>
</blockquote>