<div class="content">
  <div class="current_posts">
    <h3>Current Posts</h3>

    <!-- If there are no posts -->
    <% if @posts.any? %>
    <div class="post_list">
      <table class="table table-hover">
        <tbody>
        <% @posts.reverse.each do |post| %>
          <tr>
            <td><%= link_to post.title, post_path(post) %></td>
            <td><%= post.formatted_date %></td>
            <td>
              <%= post.created_by %>
              <% if post.comments.any? %>
                <span class="small">+ <%= pluralize(post.comments.length, 'comment') %> </span>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <hr>
    <!-- If there are posts, display them in a list. -->
    <% else %>
      <p>There are currently no posts. You should create one!</p>
    <% end %>
      <%= link_to "Create a post", new_post_path %>
    </div>
  </div>
</div>