<h1>Create a new post</h1>
<%= form_for @post do |form| %>

	<fieldset class="input_title_field"> 
		<%= form.label :title %>
		<span><%= form.text_field :title %></span>
	</fieldset>

	<fieldset class="input_contents_area">
		<%= form.text_area :contents, :value => "Message contents" %>
	</fieldset>

	<%= form.submit %>
<% end %>