<h1>Create a new post</h1>
<%= form_for @post do |form| %>
	<fieldset> 
		<%= form.label :title %>
		<%= form.text_field :title %>
	</fieldset>
	<fieldset>
		<%= form.label :contents %>
		<%= form.text_area :contents %>
	</fieldset>
	<%= form.submit %>
<% end %>