<!-- <h1><%= @post.title %></h1> -->
<!-- <div class="row">
  <div class="span3">Created by <%= @post.created_by %></div>
  <div class="span9"><%= @post.contents %></div>
</div> -->
<div class="jumbotron">
  <h1><%= @post.title %></h1>
  <p class="lead"><%= @post.contents %></p>
  <p class="text-muted">Posted by <%= @post.created_by %> on <%= @post.formatted_date %></p>
</div>


<h3>Comments</h3>
<% if @comments.any? %>
  <% @comments.reverse.each do |comment| %>
    <blockquote>
      <p><%= comment.contents %></p>
      <footer><%= comment.created_by %> on <%= comment.formatted_date %></footer>
      <% if current_user.admin? %>
        <footer><%= link_to 'Delete', post_comment_path(@post, comment), method: 'delete' %></footer>
      <% end %>
    </blockquote>
  <% end %>
<% else %>
  <p>There are no comments. You should post one!</p>
<% end %>

<%= link_to "Post a comment", new_post_comment_path(@post) %><br>

<%= link_to "Return to all posts", posts_path %>