<!DOCTYPE html>
<html>
<head>
  <title>Messageboard</title>
  <%= stylesheet_link_tag    'style', media: 'all' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <% if current_user.logged_in? %>
    <p>Hello, <%= current_user.display_name %></p>
    <p><%= link_to 'logout', logout_path, method: 'delete' %></p>
  <% else %>
    <p><%= link_to 'login', login_path %></p>
  <% end %>
</div>

<%= yield %>

</body>
</html>
